.createTodo-container {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 2em;
    right: 10%;
    bottom: 5% !important;
    position: absolute;
    bottom: 0;
}

.createTodo-container button {
    width: 7rem;
    border-radius: 50%;
    height: 7rem;
    font-size: 3.5em;
    border: 1px solid #364d9b;
    background-color: #7996f5;
    cursor: pointer;
    color: aliceblue;
}

.createTodo-container button:hover {
    background-color: #5f7cd9;
}